@font-face {
  font-family: "Gotham Pro";
  src: local("GothamPro-light"), url(/assets/fonts/gothampro_light.ttf);
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: local("GothamPro-regular"), url(/assets/fonts/gothampro.ttf);
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: local("GothamPro-medium"), url(/assets/fonts/gothampro_medium.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("GothamPro-bold"), url(/assets/fonts/gothampro_bold.ttf);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-light"), url(/assets/fonts/Montserrat-Light.ttf);
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(/assets/fonts/Montserrat-Medium.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-bold"), url(/assets/fonts/Montserrat-Bold.ttf);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-semibold"), url(/assets/fonts/Montserrat-SemiBold.ttf);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
  min-width: 1920px;
  font-family: sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main__container {
  padding: 0px 0;
  margin: 0 auto;
  width: 1760px;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  align-items: center;
}

.nav-first__item:not(:last-child) {
  margin-right: 120px;
}

.nav-first {
  margin-right: 600px;
}

.header__img {
  width: 200px;
  height: 100px;
}

.nav-first__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.birdhome__body {
  padding-top: 150px;
  background-color: #fefbe7;
  max-width: 1920px;
}

.birdhome__inner {
  padding-bottom: 76px;
}

.birdhome__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-bottom: 50px;
}

.birdhome__image {
  max-width: 400px;
  background-color: #dae5d0;
  border-radius: 10px;
}

.IMAGE {
  padding-bottom: 5px;
  border-radius: 10px;
}

.birdhome__text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #141414;
  padding-bottom: 9px;
}
